div.slide{
    position: relative;
    width: 100%;
    height: 270px;
    margin-bottom:10px;
    margin-top:60px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: start;
}
div.slide img{
    width: 100%;
    height: 270px;
}
div.conteudo-slide{
    top:0px;
    box-shadow: 1px 2px 3px black;
    position: absolute;
    color:white;
    padding:10px;
    font-weight: bold;
}
.afas{
    margin-top:10px;
}


@media (max-width: 420px) {
    div.conteudo-slide{
top:175px;

    }
}