*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;

}
.default{
    position: relative;
    width:100%;
    overflow-x: hidden;
    margin-top: 50px;;
    min-height: 389px;
}
.pptotal{
    width:100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    position: relative;
    left:100px;
    /* grid-gap:5px; */
     transition-duration: linear 3s; 
    
}
a:hover{
    text-decoration: none !important;
}
.griditem{
    margin-top: 20px !important;
}

@media (max-width: 1700px) {

    .pptotal{
        grid-template-columns:1fr 1fr 1fr;
        left:40px;
        
    } 

}
   

    
@media (max-width: 814px) {

    .pptotal{
        grid-template-columns:1fr 1fr;
        grid-gap:5px;
        justify-content:center;
        left:0px;
        
    }  

 }
 @media (max-width:993px){
    div.filtro{
        flex-direction: column;
       

    }
   
   
}
@media (max-width:600px){
    div.div-select{
        display: flex;
        flex-direction: column;
        text-align: center;
        }
      

}
.buttonvermais{
   border: 1px solid black;
}


 /* @media (max-width: 486px) {

    .pptotal{
        grid-template-columns:1fr ;
        
    }  
} */
    
   
/* @media screen and (max-width: 360px) and (max-height: 640px){
    .default{
        margin-top: 100px;
        position: relative;
        width:100%;
        min-height: 367px;
    }
} */